<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sınav Koçu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Sınav Değerlendirmen</h1>

        <div class="flex-container">
            <div class="flex-item">
                <h2>Ders Bazlı Başarı Oranları (%)</h2>
                <div class="graph-container">
                    <canvas id="lessonSuccessChart"></canvas>
                </div>
            </div>
            <div class="flex-item input-section">
            <h2>Yapay Zeka Koçunla Muhabbete Geç
                <button id="resetChatBtn" class="reset-chat-button" title="Sohbeti Sıfırla">
                    <span class="reset-icon">&#x21BA;</span> 
                </button>
            </h2>

            <div id="chat-wrapper" class="chat-wrapper">
                <button id="startChatBtn" class="start-chat-button">Konuşmayı Başlat</button>
                <div id="chatPanel" class="chat-container hidden">
                    <div class="chat-messages" id="chatMessages">
                    </div>
                    <div class="chat-input-group">
                        <input type="text" id="chatInput" placeholder="Mesajınızı yazın...">
                        <button id="sendChatBtn">Gönder</button>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="section">
            <div class="header-container">
                <a id="downloadScheduleLink" href="#" class="download-schedule-button" title="Download">
                    <span class="material-icons">download</span> Haftalık Programı İndir
                </a>
            </div>
                <h2>Haftalık Programın</h2>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            {% for header in table_headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_rows %}
                            <tr>
                                {% for cell in row %}
                                    <td>{{ cell }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="nav-buttons">
            <a href="{{ url_for('add_exam_page') }}">Yeni Net Ekle / Netleri Gör</a>
        </div>
    </div>

    <script>
        // Lesson-Based Success Rates Graph Data
        const lessonLabels = {{ lesson_labels | tojson }};
        const successPercentages = {{ success_percentages | tojson }};

        // Colors - For each lesson
        const backgroundColors = [
            'rgba(255, 99, 132, 0.7)', // Türkçe
            'rgba(54, 162, 235, 0.7)', // Matematik
            'rgba(255, 206, 86, 0.7)', // Fen
            'rgba(75, 192, 192, 0.7)', // İnkılap
            'rgba(16, 113, 42, 0.7)', // Din
            'rgba(134, 30, 109, 0.7)', // İngilizce
            'rgba(153, 102, 255, 0.7)' // Toplam
        ];
        const borderColors = [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 0.7)', 
            'rgba(16, 113, 42, 0.7)', 
            'rgba(134, 30, 109, 0.7)',
            'rgba(153, 102, 255, 1)'
        ];

        // Lesson-Based Success -> Bar Chart
        const ctxLessonSuccess = document.getElementById('lessonSuccessChart').getContext('2d');
        const lessonSuccessChart = new Chart(ctxLessonSuccess, {
            type: 'bar', // Bar chart (Çubuk grafiği)
            data: {
                labels: lessonLabels,
                datasets: [{
                    label: 'Başarı Oranı (%)',
                    data: successPercentages,
                    backgroundColor: backgroundColors,
                    borderColor: borderColors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        min: Math.min(...successPercentages) - 5 < 0 ? Math.min(...successPercentages) - 5 : 0,
                        max: 100, // Max 100 -> it is percentage (%)
                        title: {
                            display: true,
                            text: 'Başarı Oranı (%)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Dersler'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                return context.dataset.label + ': ' + context.raw + '%';
                            }
                        }
                    }
                }
            }
        });

        //------------------------------
        // JAVASCRIPT
        //------------------------------
        
        // get from html - id
        const startChatBtn = document.getElementById('startChatBtn');
        const chatPanel = document.getElementById('chatPanel');
        const chatMessages = document.getElementById('chatMessages');
        const chatInput = document.getElementById('chatInput');
        const sendChatBtn = document.getElementById('sendChatBtn');
        const resetChatBtn = document.getElementById('resetChatBtn'); 
        const downloadLink = document.getElementById('downloadScheduleLink'); // download weekly schedule (excel file)

        // Local Storage KEYS
        const CHAT_PANEL_STATE_KEY = 'chatPanelOpen';
        const CHAT_HISTORY_KEY = 'chatHistory';

        // Load Chat state and history from LOCALSTORAGE
        function loadChatState() 
        {
            const isChatPanelOpen = localStorage.getItem(CHAT_PANEL_STATE_KEY) === 'true';
            const savedChatHistory = localStorage.getItem(CHAT_HISTORY_KEY);

            if (isChatPanelOpen) 
            {
                startChatBtn.classList.add('hidden');
                chatPanel.classList.remove('hidden');

                if (savedChatHistory) 
                {
                    chatMessages.innerHTML = savedChatHistory;
                    // Scroll down
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                } 
                else 
                {
                    // If there is no history, show the initial message
                    chatMessages.innerHTML = '<div class="chat-message ai">Merhaba! Size nasıl yardımcı olabilirim?</div>';
                }
            } 
            else 
            {
                startChatBtn.classList.remove('hidden');
                chatPanel.classList.add('hidden');
            }
        }

        // Save chat state and history to LOCALSTORAGE
        function saveChatState() 
        {
            localStorage.setItem(CHAT_PANEL_STATE_KEY, !chatPanel.classList.contains('hidden'));
            localStorage.setItem(CHAT_HISTORY_KEY, chatMessages.innerHTML);
        }

        // Sending message functions
        async function sendMessage() 
        {
            const userMessage = chatInput.value.trim();

            if (userMessage === '') return; // Pass empty message

            // Show user message
            const userMessageDiv = document.createElement('div');
            userMessageDiv.classList.add('chat-message', 'user');
            userMessageDiv.textContent = userMessage;
            chatMessages.appendChild(userMessageDiv);

            // Scroll down
            chatMessages.scrollTop = chatMessages.scrollHeight;

            // Clear input field
            chatInput.value = '';

            const aiLoadingDiv = document.createElement('div');
            aiLoadingDiv.classList.add('chat-message', 'ai', 'loading-message');
            aiLoadingDiv.textContent = 'Düşünüyorum...';
            chatMessages.appendChild(aiLoadingDiv);
            chatMessages.scrollTop = chatMessages.scrollHeight;

            try 
            {
                // Call flask function to send message
                const response = await fetch('/send_chat_message', 
                    {
                        method: 'POST',
                        headers: 
                            {
                                'Content-Type': 'application/json'
                            },
                        body: JSON.stringify({ message: userMessage })
                    }
                );

                const data = await response.json(); // Get JSON response
                const aiResponse = data.response; // Take response

                // Remove loading message
                chatMessages.removeChild(aiLoadingDiv);

                // Show AI message
                const aiMessageDiv = document.createElement('div');
                aiMessageDiv.classList.add('chat-message', 'ai');
                aiMessageDiv.textContent = aiResponse;
                chatMessages.appendChild(aiMessageDiv);

                 if(data.should_refresh)
                    location.reload();

            } 
            catch (error) // ---------- ERROR 
            {
                console.error('Mesaj gönderilirken hata oluştu:', error);
                chatMessages.removeChild(aiLoadingDiv); // Remove loading message
                const errorMessageDiv = document.createElement('div');
                errorMessageDiv.classList.add('chat-message', 'ai', 'error-message');
                errorMessageDiv.textContent = 'Üzgünüm, mesajınızı anlayamadım.';
                chatMessages.appendChild(errorMessageDiv);
            }

            chatInput.focus(); // Focus on input field -> to take input
            chatMessages.scrollTop = chatMessages.scrollHeight;

            saveChatState(); // Save history
        }

        // Reset chat
        resetChatBtn.addEventListener('click', async () => 
            {
                if (confirm("Sohbetimiz sıfırlanacak. Devam etmek istiyor musunuz?")) 
                {
                    // Clear localstorage
                    localStorage.removeItem(CHAT_HISTORY_KEY);
                    // Remove chat panel 
                    localStorage.removeItem(CHAT_PANEL_STATE_KEY);
                    
                    // Set new sesion id to reset ai history
                    const newSessionId = 'session_id_' + Date.now(); // random id
                    await fetch('/set_session_id', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ session_id: newSessionId })
                    });

                    // Refresh page
                    location.reload();
                }
            }
        );

        // Click START CHATTING -> Konuşmayı Başlat Butonu
        startChatBtn.addEventListener('click', () => 
            {
                startChatBtn.classList.add('hidden'); // Hide button
                chatPanel.classList.remove('hidden'); // Show chat panel

                chatMessages.innerHTML = '<div class="chat-message ai">Merhaba, sizin için haftalık ders programı hazırlayabilir ve kaynak önerebilirim. Sorularınızı memnuniyetle cevaplayacağım.</div>';

                chatInput.focus();
                //saveChatState();
            }
        );

        // Send message +Enter 
        sendChatBtn.addEventListener('click', sendMessage);
        chatInput.addEventListener('keypress', 
            (event) => 
            {
                if (event.key === 'Enter') 
                {
                    sendMessage();
                }
            }
        );

        // Check if schedule exists and download it
        downloadLink.addEventListener('click', async (event) => 
            {
                const response = await fetch('/check_schedule_exists');
                const data = await response.json();

                if(data.exists)
                {
                    // Prevent to refresh page
                    event.preventDefault();
                    // Redirect directly to Flask route -> download
                    window.location.href = '/download_schedule';
                }
                else
                {
                    alert("Haftalık program bulunamadı! Lütfen yapay zekadan program hazırlamasını isteyiniz.");
                } 
            }
        );
        
        // Find 'Boş Zaman' cells in weekly schedule -> make them GREEN
        document.addEventListener('DOMContentLoaded', () => 
            {
                loadChatState();
                document.querySelectorAll('.table-container table td').forEach(cell => 
                    {
                        if (cell.textContent.trim() === 'Boş Zaman') 
                        {
                            cell.classList.add('empty-time');
                        }
                    }
                );
            }
        );

        // Load chat status on page load
        document.addEventListener('DOMContentLoaded', loadChatState);
    </script>
</body>
</html>